#container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

button {
  position: relative;
  top: -4px;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(145, 145, 239);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(128, 128, 207);
}

#diceInput {
  font-size: 2rem;
  text-align: center;
  width: 150px;
  font-weight: bold;
}

#diceResult {
  margin: 25px;
}

#diceImages img {
  width: 150px;
  margin: 5px;
}

#diceResult {
  font-size: 0.8em;
}
