registry=https://registry.npmjs.org/
@dssbg:registry=https://pkgs.dev.azure.com/dssbg/936fae0f-2dcc-4b96-a467-5f72c8014832/_packaging/ucb-multi-register/npm/registry/
//pkgs.dev.azure.com/dssbg/936fae0f-2dcc-4b96-a467-5f72c8014832/_packaging/ucb-multi-register/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/dssbg/936fae0f-2dcc-4b96-a467-5f72c8014832/_packaging/ucb-multi-register/npm/registry/:_password=aGU2dWZrc3Rmc2gyYmJucTZwNHBodGhuanozamI0c3d1YnA3cjZzYm5lZHVjYnNsem1yYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/dssbg/936fae0f-2dcc-4b96-a467-5f72c8014832/_packaging/ucb-multi-register/npm/registry/:email=not-used@example.com
