#popout-hidden {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	opacity: 0;
	top: 8%;
	left: 25%;
	width: 0;
	height: 0;
	background-color: rgb(32, 32, 32);
	transition: opacity 200ms ease-out;
}

.popout-visible {
	width: 90vh !important;
	height: 38vh !important;
	opacity: 1 !important;
}

#background-visible {
	position: absolute;
	height: 0;
	width: 0;
}

.background-blurred {
	height: 200% !important;
	width: 100% !important;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

#rating-title {
	margin-top: 7vh;
	font-size: 1.6em;
}

.rating {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 5vh;
	gap: 0.3rem;
	--stroke: #666;
	--fill: #ffc73a;
}

.rating input {
	appearance: unset;
}

.rating label {
	cursor: pointer;
}

.rating svg {
	width: 2rem;
	height: 2rem;
	overflow: visible;
	fill: transparent;
	stroke: var(--stroke);
	stroke-width: 3vh;
	stroke-linejoin: bevel;
	stroke-dasharray: 12;
	animation: idle 4s linear infinite;
	transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
	from {
		stroke-dashoffset: 24;
	}
}

.rating label:hover svg {
	stroke: var(--fill);
}

.rating input:checked ~ label svg {
	transition: 0s;
	animation: idle 4s linear infinite, yippee 0.75s backwards;
	fill: var(--fill);
	stroke: var(--fill);
	stroke-opacity: 0;
	stroke-dasharray: 0;
	stroke-linejoin: miter;
	stroke-width: 8px;
}

@keyframes yippee {
	0% {
		transform: scale(1);
		fill: var(--fill);
		fill-opacity: 0;
		stroke-opacity: 1;
		stroke: var(--stroke);
		stroke-dasharray: 10;
		stroke-width: 1px;
		stroke-linejoin: bevel;
	}

	30% {
		transform: scale(0);
		fill: var(--fill);
		fill-opacity: 0;
		stroke-opacity: 1;
		stroke: var(--stroke);
		stroke-dasharray: 10;
		stroke-width: 1px;
		stroke-linejoin: bevel;
	}

	30.1% {
		stroke: var(--fill);
		stroke-dasharray: 0;
		stroke-linejoin: miter;
		stroke-width: 8px;
	}

	60% {
		transform: scale(1.2);
		fill: var(--fill);
	}
}

#rate-btn-container {
	display: flex;
	margin-top: 6vh;
	gap: 3vh;
}

.rate-btn {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #ffffffe5;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.rate-btn:hover {
	background-color: #c7002fc9;
	box-shadow: 0px 15px 20px #c7002e74;
	color: #ffffff;
	transform: translateY(-7px);
}

.rate-btn:active {
	transform: translateY(-1px);
}

#rate-btn-submit:hover {
	background-color: #409e75;
	box-shadow: 0px 15px 20px #2e7757;
}

.alert {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-weight: bold;
	top: 5%;
	left: 45%;
	width: 20vh;
	height: 5vh;
	background-color: #c7002fc9;
	border: 1px solid #b5002ac9;
	opacity: 0;
	transition: opacity 1000ms ease-in-out;
	border-radius: 5px;
}

.alert-visible {
	opacity: 1;
	width: 20vh;
	height: 5vh;
	text-align: center;
}

.alert-success {
	background-color: #409e75;
	border: 1px solid #409e75;
}

.shake {
	animation: shake 700ms;
}

@keyframes shake {
	0% {
		transform: skewY(-15deg);
		background-color: #c7002fc9;
    color: #c7002fc9;
    border-radius: 3px;
	}
	5% {
		transform: skewY(15deg);
    background-color: #c7002fc9;
    color: #c7002fc9;
    border-radius: 3px;

	}
	10% {
		transform: skewY(-15deg);
    background-color: #c7002fc9;
    color: #c7002fc9;
    border-radius: 3px;

	}
	15% {
		transform: skewY(15deg);
    background-color: #c7002fc9;
    border-radius: 3px;
    color: #c7002fc9;


	}
	20% {
		transform: skewY(0deg);
    background-color: #c7002fc9;
    border-radius: 3px;
    

	}
	80% {
		transform: skewY(0deg);
    background-color: #c7002fc9;
    border-radius: 3px;

	}
  100% {
    background-color: #c7002fc9;
    border-radius: 3px;

  }
}
